@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --body-bg: #573cd8;
    --orange: #ffdd00;
    --pink: #fc0fc0;
    --green: #73c8a9;
    --red: #ed213a;
    --purple: #573cb8;
    --black: #0f0c10;
   --white: #fff;
}
.container {
  background-image: radial-gradient(at top, var(--body-bg), var(--black)50%);
  width: 100%;
  min-height: 100vh;
}

/* NavBar */
.container .navbar {
 /* background-color: yellow; */
 height: 13vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 90%;
 margin: auto;
}
.navbar .logo {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bolder;
}
.logo span {
    color: var(--purple);
}
.hamburger .line {
    height: .1rem;
    width: 2.7rem;
    background-color: var(--white);
margin: .6rem;
}
.hamburger {
    cursor: pointer;
}

/* Hero section 7 Content */
.hero {
    /* background-color: yellow; */
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
}
.content h1 {
    font-size: 6rem;
}
.content p {
    max-width: 35rem;
    font-size: 1rem;
}
.content span {
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: .1rem;
}


/* Radio Buttons Colors */
.colors {
    position: absolute;
    left: 80px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
input[type="radio"] {
width: 1rem;
height: 1rem;
outline: 3px solid var(--radio-color);
border-radius: 50%;
appearance: none;
outline-offset: 3px;
cursor: pointer;
}

input[type="radio"]#purple {
    --radio-color: var(--purple);
}
input[type="radio"]#orange {
    --radio-color: var(--orange);
}
input[type="radio"]#pink {
    --radio-color: var(--pink);
}
input[type="radio"]#green {
    --radio-color: var(--green);
}
input[type="radio"]#red {
    --radio-color: var(--red);
}

input[type="radio"]:checked {
    background-color: var(--radio-color);
}

/* Body colors changing method */
:root:has(#orange:checked) {
    --body-bg: var(--orange);
}
:root:has(#pink:checked) {
    --body-bg: var(--pink);
}
:root:has(#green:checked) {
    --body-bg: var(--green);
}
:root:has(#red:checked) {
    --body-bg: var(--red);
}
